/**{
  background-color: pink;
}*/
.div1{
	display: flex;
	padding:10px;
	justify-content: right;
	margin-left:15px;
	flex-direction: row;
}
.div{
	 padding:10px;

}
.div:hover{
   background-color:#4CAF50;
   height:15px;
   padding:10px;
}
.btn{
	background-color: blue;
	color:white;
}
.btn1{
	background-color: green;
	color:white;
}
.btn2{
	background-color:red;
	color:white;
}